*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(aqua, pink);
}
.timer {
  color: white;
  font-size: 56px;
  font-weight: border;
  border: 5px solid white;
  padding: 50px;
  border-radius: 50%;
}